:root
{
	--color-body: #05386B;
	
	--color-main-body: #379683;
	--color-dark-background: #333333;
	--color-dark-background-font: #E6E6E6;
	
	--color-menu-item: #BABABA;
	--color-menu-item-hover: #919191;
	
	--color-main-content-container: #D6D6D6;
	
	--color-project-background: #FFFFFF;
	--color-project-shadow: #8EE4AF;
}

BODY
{
	background-color: var(--color-body);	
}

#mainBody
{
	background-color: var(--color-main-body);
	width: 850px;
	overflow: hidden;
	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	
	font-family: Verdana;
	font-size: 18px;
	text-align: center;	
}

#header
{
	margin: 10px;
	min-height: 10px;
	overflow: hidden;
}

#profilePictureContainer
{
	background-color: var(--color-dark-background);
	
	margin-right: 10px;
	float: left;
	padding: 10px;	
}

#profilePicture
{
	width: 200px;

	float: left;	
}

#title
{
	background-color: var(--color-dark-background);
	
	padding: 10px;
	
	font-family: "Courier New";
	color: var(--color-dark-background-font);
	font-size: 24px;
	text-align: center;	
	
	overflow: hidden;
}

#menuContainer
{
	background-color: var(--color-dark-background);
	
	margin-top: 10px;
	
	overflow: hidden;
}

.menuItem
{	
	background-color: var(--color-menu-item);
	width: 40px;
	height: 40px;
	
	margin: 10px;
	margin-left: 5px;
	margin-right: 5px;
	
	display: inline-block; 
	vertical-align: top;
	
	position: relative;
}

.menuImg
{
	width: 30px;
	
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	
	opacity: 0.9;
}

.menuItem:hover
{
	background-color: var(--color-menu-item-hover);
}


#mainContentContainer
{
	background-color: var(--color-main-content-container);
	width: 0 auto;
	
	margin: 10px;
	padding: 15px;
	padding-bottom: 5px;
	float: right;
	
	font-family: Georgia;
	font-size: 16px;
	text-align: justify;
}

p
{
	margin-top: 0px;
	margin-bottom: 7px;	
}

h1
{
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 20px;
	line-height: 0px;
	
	font-family: Verdana;
	font-size: 28px;
	text-align: left;
}

.projectDiv
{
	box-shadow: 8px 8px var(--color-project-shadow);
	background-color: var(--color-project-background);
	
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
}

h2
{
	margin-left: 0px;
	margin-top: 10px;
	
	font-family: Verdana;
	font-size: 22px;
	text-align: left;
}

iframe
{	
	width: 700px;
	height: 394px;
	
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

ul
{	
	list-style-type: square;
	padding-left: 30px;
}

.projectImg
{
	width: 100%;
	
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer
{	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	
	font-family: Courier New;
	font-size: 12px;
	text-align: center;
	color: var(--color-dark-background-font);
}
